
<div class="card" *ngIf="pageAction=='view'">

  <div class="card-header">
    <h5 class="card-title">View assign details</h5>
  </div>

  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
           <h5>Employer Name</h5>
          </div>
          <div class="col-8">
            {{pageData.user_name || '---'}} {{', Age: '+pageData.user_age || '---'}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
           <h5>Address</h5>
          </div>
          <div class="col-8">
            {{pageData.user_city }}<br>
            {{pageData.user_state}}<br>
            {{pageData.user_country}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
           <h5>Department Name</h5>
          </div>
          <div class="col-8">
            {{pageData.department_name || '---'}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
           <h5>Department description</h5>
          </div>
          <div class="col-8">
            {{pageData.department_description || '---'}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
           <h5>Start Date</h5>
          </div>
          <div class="col-8">
            {{(pageData.assigned_start_date | date) || '---'}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
           <h5>End date</h5>
          </div>
          <div class="col-8">
            {{(pageData.assigned_end_date | date) || '---'}}
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer text-muted">
    <button class="btn btn-primary float-right" [routerLink]="['/assignment']" routerLinkActive="router-link-active" >Back</button>
  </div>

</div>



<div class="card" *ngIf="pageAction=='add' || pageAction=='edit'">

  <div class="card-header">
    <h5 class="card-title">{{pageAction=='add' ? 'Add': 'Update'}} assign details</h5>
  </div>

  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
           <h5>Choose department</h5>
          </div>
          <div class="col-8">
            <select class="form-control" placeholder="Choose Department" [(ngModel)]="pageData.dept_id">
              <option [value]="d.id" *ngFor="let d of pageDepartmentData">{{d.department_name}}</option>
            </select>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
           <h5>Choose Employer</h5>
          </div>
          <div class="col-8">
            <select class="form-control" placeholder="Choose Employer" [(ngModel)]="pageData.employer_id">
              <option [value]="u.id" *ngFor="let u of pageUserData">{{u.user_name+' ('+u.user_age+' age)'}}</option>
            </select>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
           <h5>Start date</h5>
          </div>
          <div class="col-4 input-group">
            <!-- <ngb-datepicker #dp [(ngModel)]="pageData.assigned_start_date" (navigate)="date = $event.next"></ngb-datepicker> -->

            <input class="form-control w-50" placeholder="Start Date" #dp [(ngModel)]="pageData.assigned_start_date" ngbDatepicker #d="ngbDatepicker">

            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>

          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-4">
           <h5>End date</h5>
          </div>
          <div class="col-4 input-group">
            <!-- <ngb-datepicker #dp2 [(ngModel)]="pageData.assigned_end_date" (navigate)="date = $event.next"></ngb-datepicker> -->

            <input class="form-control w-50" placeholder="Start Date" #dp [(ngModel)]="pageData.assigned_end_date" ngbDatepicker #d2="ngbDatepicker">

            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>

          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer text-muted">
    <button class="btn btn-danger float-right mr-2" [routerLink]="['/assignment']" routerLinkActive="router-link-active" >Cancel</button>
    <button class="btn btn-primary float-right mr-2" (click)="submitPageData()" *ngIf="pageAction=='edit'">Update</button>
    <button class="btn btn-primary float-right mr-2" (click)="submitPageData()" *ngIf="pageAction=='add'">Add</button>
  </div>

</div>
